
.candidateReviewPage{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; 
    background-color: #fff;
    padding: 20px;
    display: flex;
    flex-direction: column;
    width: 70%;
    margin: auto;
    margin-top: 50px;
    // align-items: flex-start;
    .topHeader{
        margin-bottom: 20px;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 20px;
        span{
            font-size: 20px;
            cursor: pointer;
            color: #2b6777;
        }
    }
    .header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;
        .downloadIcon{
            font-size: 20px;
            font-weight: bold;
            cursor: pointer;
        }

    }
    .reportData{
      
        display: grid;
        grid-template-columns: repeat(2,1fr);
        .left{
            border-right: 2px solid rgb(223, 214, 214);
        }
       
        .left,.right{
            // border: 1px solid black;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            // padding: 10px;
            p{
               text-align: justify;
                margin-bottom: 15px;
            }
        }
        .right{
            padding-left: 20px;
        }
    }
}