
.candidateReviewPage{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; 
    background-color: #fff;
    padding: 20px;
    display: flex;
    flex-direction: column;
    width: 70%;
    margin: auto;
    margin-top: 50px;
    .loadingImg{
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        height: 60px;
        width: 60px;
    }
    .topHeader{
        margin-bottom: 20px;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 20px;
        span{
            font-size: 20px;
            cursor: pointer;
            color: #2b6777;
            border: 1px solid #87a8b1;
            padding: 2px 15px;
            &.deleteModal{
                border: none;
                padding: 0px;
                &:hover{
                    background-color: none;
                    color: none;
                }
            }
            &:hover{
                background-color: #2b6777;;
                color: white;
            }
            
        }
        
    }
    .report{
        .header{
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 20px;
            .head{
                font-weight: normal;
                font-size: 20px;
                text-align: left;
               
            }
            .downloadIcon{
                font-size: 20px;
                font-weight: bold;
                cursor: pointer;
            }
    
        }
        .reportData{
          
            display: grid;
            grid-template-columns: repeat(2,1fr);
            .left{
                border-right: 2px solid rgb(223, 214, 214);
                padding-right: 10px;
            }
           
            .left,.right{
                // border: 1px solid black;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                // padding: 10px;
                p{
                   text-align: justify;
                    margin-bottom: 15px;
                }
            }
            .right{
                padding-left: 20px;
            }
        }
    }
   
}
@media screen and (max-width:900px) {
    .candidateReviewPage{
        width: 85%;
    }
}
@media screen and (max-width:600px) {
    .candidateReviewPage{
        width: 95%;
        margin-top: 0px;
        padding: 100px 20px 50px 20px;
        .report{
            .header{
                .head{
                display: flex;
                gap: 5px;
                flex-direction: column;          
              }
                align-items: flex-start;
            }
            .reportData{
                grid-template-columns: repeat(1,1fr);
                 .left{
                     padding-right: 0px;
                     border-right: none;
                 }
                .right{
                    padding-left: 0px;
                }
            }
        }

    }
}